<div class="footer__logo-social">
  {%- if block.settings.logo -%}
    {%- style -%}
      .footer__logo a {
        height: {{ block.settings.desktop_logo_height }}px;
      }
    {%- endstyle -%}
    <div class="footer__logo">
      <a href="{{ routes.root_url }}">
        {%- render 'image-element',
          img: block.settings.logo,
          img_width: block.settings.desktop_logo_height | times: block.settings.logo.aspect_ratio | times: 2,
          img_height: block.settings.desktop_logo_height,
          sizes: block.settings.desktop_logo_height | times: block.settings.logo.aspect_ratio | append: 'px',
          widths: block.settings.desktop_logo_height | times: block.settings.logo.aspect_ratio | append: ', ' | append: block.settings.desktop_logo_height | times: block.settings.logo.aspect_ratio | times: 2,
          style: 'max-width: ' | append: block.settings.desktop_logo_height | times: block.settings.logo.aspect_ratio | append: 'px;max-height: ' | append: block.settings.desktop_logo_height | append: 'px;',
          alt: block.settings.logo.alt | default: shop.name,
        -%}
      </a>
    </div>
  {%- endif -%}

  {% render 'social-icons', additional_classes: 'footer__social' %}

</div>
