# Copier ce fichier vers apps/recipes-service/.env puis adapter si besoin.

VD_RECIPES_PORT=4567
VD_RECIPES_ADMIN_TOKEN=change-me
VD_RECIPES_STORE=json

# Publication Shopify
VD_RECIPES_SHOPIFY_STORE=4bru0c-p4.myshopify.com
VD_RECIPES_SHOPIFY_ADMIN_TOKEN=shpat_xxx
VD_RECIPES_SHOPIFY_API_VERSION=2025-10
