{%- liquid
  assign count = collection.all_products_count
  assign count_label = 'produits'
  if count == 1
    assign count_label = 'produit'
  endif
-%}

<div class="vd-collection-header color-{{ section.settings.color_scheme }}">
  <div class="page-width vd-collection-header__inner">
    <h1 class="vd-collection-header__title">{{ collection.title }}</h1>
    <span class="vd-collection-header__count">{{ count }} {{ count_label }}</span>
  </div>
</div>

{% schema %}
{
  "name": "Collection banner",
  "tag": "section",
  "class": "section section-collection-banner",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Palette",
      "default": "scheme-3"
    }
  ]
}
{% endschema %}
